@import "tailwindcss";
@plugin "daisyui";

@theme {
  --brand-gradient: linear-gradient(to right, #ff512f, #dd2476, #7f00ff);
}

.brand-gradient {
  background-image: var(--brand-gradient);
}

.brand-gradient-text {
  background-image: var(--brand-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
